@page
@model Ai_Cv_Analyser.Pages.Account.LoginModel
@{
    Layout = null;
    ViewData["Title"] = "Login Page";
}
<title>@ViewData["Title"]</title>


    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Login</title>

    <link rel="icon" href="/images/cvcv.png" />
<link rel="stylesheet" href="/css/LoginStyle.css" />


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />




    <div class="page-container">

        <div class="card login-card">

            <div class="card-body">

                <div class="text-center mb-4">

                    <h2 class="fw-bold">
                        Smart Resume Platform
                    </h2>

                    <p class="text-muted">
                        Login to continue
                    </p>

                </div>

                <form method="post">

                    <div class="mb-3">

                        <label class="form-label">
                            Email
                        </label>

                        <input asp-for="Input.Email"
                               class="form-control"
                               placeholder="example@email.com"
                               required />

                    </div>

                    <div class="mb-4">

                        <label class="form-label">
                            Password
                        </label>

                        <input asp-for="Input.Password"
                               type="password"
                               class="form-control"
                               placeholder="Password"
                               required />

                        <span asp-validation-for="Input.Password"
                              class="text-danger"></span>

                    </div>

                    <button type="submit"
                            class="btn btn-primary w-100">
                        Login
                    </button>

                </form>

                <hr />

                <div class="text-center">

                    <a asp-page="/Account/Register">
                        Create New Account
                    </a>

                </div>

            </div>

        </div>

    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

