@page
@model Ai_Cv_Analyser.Pages.Account.RegisterModel
@{
    Layout = null;
}

<style>
    body{
        background-image:url('/images/register.png');
        background-size:cover;
        background-repeat:no-repeat;
    }
</style>
<link rel="icon" href="/images/cvcv.png" />

@if(!ModelState.IsValid)
{
    <div asp-validation-summary="All" class="text-danger"></div>
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<div class="container py-5">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <div class="card shadow-lg border-0 rounded-3 ">

                <div class="card-body p-5">

                    <div class="text-center mb-4">

                        <h2 class="fw-bold">
                            Create Account
                        </h2>

                        <p class="text-muted">
                            Start analyzing your resume with AI
                        </p>

                    </div>

                    <form method="post">

                        <div class="mb-3">

                            <label class="form-label">
                                Full Name
                            </label>

                            <input asp-for="Input.FullName"
                                   class="form-control" />

                        </div>

                        <div class="mb-3">

                            <label class="form-label">
                                Email
                            </label>

                            <input asp-for="Input.Email"
                                   class="form-control" />

                        </div>

                        <div class="mb-3">

                            <label class="form-label">
                                Password
                            </label>

                            <input asp-for="Input.Password"
                                   type="password"
                                   class="form-control" />

                        </div>

                        <div class="mb-4">

                            <label class="form-label">
                                Confirm Password
                            </label>

                            <input asp-for="Input.ConfirmPassword"
                                   type="password"
                                   class="form-control" />

                        </div>

                        <button type="submit"
                                class="btn btn-success w-100">

                            Register

                        </button>

                    </form>

                    <hr />

                    <div class="text-center">

                        <a asp-page="/Account/Login">
                            Already have an account?
                        </a>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>